[submodule "keyboard_layout"]
	path = keyboard_layout
	url = https://github.com/echuraev/keyboard_layout
[submodule "slidebar"]
	path = slidebar
	url = https://github.com/mut-ex/awesome-wm-slidebar
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
